<div class="twoColumnGrid">
	<div>Title:</div>
	<div><input id="contactInputTitle" type="text" placeholder="" style="width: 100%;" /></div>
	<div>First name:</div>
	<div><input id="contactInputFirstName" type="text" placeholder="" style="width: 100%;" /></div>
	<div>Middle name(s):</div>
	<div><input id="contactInputMiddleName" type="text" placeholder="" style="width: 100%;" /></div>
	<div>Last name:</div>
	<div><input id="contactInputLastName" type="text" placeholder="" style="width: 100%;" /></div>
	<div>Name Suffix(es):</div>
	<div><input id="contactInputNameSuffix" type="text" placeholder="" style="width: 100%;" /></div>
	<div>Job Title:</div>
	<div><input id="contactInputJobTitle" type="text" placeholder="" style="width: 100%;" /></div>
	<div>Company Name:</div>
	<div><input id="contactInputCompany" type="text" placeholder="" style="width: 100%;" /></div>
	<div>Contact Type:</div>
	<div>
		<select id="contactInputContactType">
			<option value="home">personal</option>
			<option value="work" selected>company</option>
		</select>
	</div>
	<div>PO Box:</div>
	<div><input id="contactInputPoBox" type="text" placeholder="" style="width: 100%;" /></div>
	<div>Additional address:</div>
	<div><input id="contactInputAdditionalAddress" type="text" placeholder="" style="width: 100%;" /></div>
	<div>Street and Number:</div>
	<div><input id="contactInputStreetAndNumber" type="text" placeholder="" style="width: 100%;" /></div>
	<div>Zip Code:</div>
	<div><input id="contactInputZipCode" type="text" placeholder="" style="width: 100%;" /></div>
	<div>City:</div>
	<div><input id="contactInputCity" type="text" placeholder="" style="width: 100%;" /></div>
	<div>Region:</div>
	<div><input id="contactInputRegion" type="text" placeholder="" style="width: 100%;" /></div>
	<div>Country:</div>
	<div><input id="contactInputCountry" type="text" placeholder="" style="width: 100%;" /></div>
	<div>Mobile Phone:</div>
	<div><input id="contactInputMobile" type="tel" placeholder="" style="width: 100%;" /></div>
	<div>Landline Phone:</div>
	<div><input id="contactInputLandline" type="tel" placeholder="" style="width: 100%;" /></div>
	<div>Email:</div>
	<div><input id="contactInputEmail" type="email" placeholder="" style="width: 100%;" /></div>
	<div>URL:</div>
	<div><input id="contactInputUrl" type="url" placeholder="" style="width: 100%;" /></div>
</div>