<div class="twoColumnGrid">
	<label for="contactInputTitle">Title:</label>
	<div><input id="contactInputTitle" type="text" placeholder="" style="width: 100%;" /></div>
	<label  for="contactInputFirstName">First name:</label>
	<div><input id="contactInputFirstName" type="text" placeholder="" style="width: 100%;" /></div>
	<label  for="contactInputMiddleName">Middle name(s):</label>
	<div><input id="contactInputMiddleName" type="text" placeholder="" style="width: 100%;" /></div>
	<label  for="contactInputLastName">Last name:</label>
	<div><input id="contactInputLastName" type="text" placeholder="" style="width: 100%;" /></div>
	<label  for="contactInputNameSuffix">Name Suffix(es):</label>
	<div><input id="contactInputNameSuffix" type="text" placeholder="" style="width: 100%;" /></div>
	<label  for="contactInputJobTitle">Job Title:</label>
	<div><input id="contactInputJobTitle" type="text" placeholder="" style="width: 100%;" /></div>
	<label  for="contactInputCompany">Company Name:</label>
	<div><input id="contactInputCompany" type="text" placeholder="" style="width: 100%;" /></div>
	<label  for="contactInputContactType">Contact Type:</label>
	<div>
		<select id="contactInputContactType">
			<option value="home">personal</option>
			<option value="work" selected>company</option>
		</select>
	</div>
	<label  for="contactInputPoBox">PO Box:</label>
	<div><input id="contactInputPoBox" type="text" placeholder="" style="width: 100%;" /></div>
	<label  for="contactInputAdditionalAddress">Additional address:</label>
	<div><input id="contactInputAdditionalAddress" type="text" placeholder="" style="width: 100%;" /></div>
	<label  for="contactInputStreetAndNumber">Street and Number:</label>
	<div><input id="contactInputStreetAndNumber" type="text" placeholder="" style="width: 100%;" /></div>
	<label  for="contactInputZipCode">Zip Code:</label>
	<div><input id="contactInputZipCode" type="text" placeholder="" style="width: 100%;" /></div>
	<label  for="contactInputCity">City:</label>
	<div><input id="contactInputCity" type="text" placeholder="" style="width: 100%;" /></div>
	<label  for="contactInputRegion">Region:</label>
	<div><input id="contactInputRegion" type="text" placeholder="" style="width: 100%;" /></div>
	<label  for="contactInputCountry">Country:</label>
	<div><input id="contactInputCountry" type="text" placeholder="" style="width: 100%;" /></div>
	<label  for="contactInputMobile">Mobile Phone:</label>
	<div><input id="contactInputMobile" type="tel" placeholder="" style="width: 100%;" /></div>
	<label  for="contactInputLandline">Landline Phone:</label>
	<div><input id="contactInputLandline" type="tel" placeholder="" style="width: 100%;" /></div>
	<label  for="contactInputEmail">Email:</label>
	<div><input id="contactInputEmail" type="email" placeholder="" style="width: 100%;" /></div>
	<label  for="contactInputUrl">URL:</label>
	<div><input id="contactInputUrl" type="url" placeholder="" style="width: 100%;" /></div>
</div>