<div class="twoColumnGrid">
	<label for="emailQrAddress">Email address (required):</label>
	<div>
		<input type="email" id="emailQrAddress" placeholder="enter the email address here" style="width: 100%;" />
	</div>
	<label for="emailQrSubject">Subject (optional):</label>
	<div>
		<input type="text" id="emailQrSubject" placeholder="enter the subject here" style="width: 100%;" />
	</div>
	<label for="emailQrBody">Message (optional):</label>
	<div>
		<input type="text" id="emailQrBody" placeholder="enter the message here" style="width: 100%;" />
	</div>
</div>