<div class="twoColumnGrid">
	<p class="italic">
		Event QR Codes have a bit less support then most others (iOS is fine, but some Android Apps have trouble).
		Please make sure that you have all Information also available human readable when you use them.
	</p>
	<label for="eventQrTitle">Event title:</label>
	<div>
		<input type="text" id="eventQrTitle" placeholder="enter the event title here" style="width: 100%;" />
	</div>
	<label for="eventQrDescription">Event description:</label>
	<div>
		<input type="text" id="eventQrDescription" placeholder="enter the event description here" style="width: 100%;" />
	</div>
	<label for="eventQrLocation">Event location:</label>
	<div>
		<input type="text" id="eventQrLocation" placeholder="enter the event location here" style="width: 100%;" />
	</div>
	<label for="eventQrStartDate">Event start date:</label>
	<div>
		<input type="date" id="eventQrStartDate" />
	</div>
	<label for="eventQrStartTime">Event start time:</label>
	<div>
		<input type="time" id="eventQrStartTime" />
	</div>
	<label for="eventQrEndDate">Event end date:</label>
	<div>
		<input type="date" id="eventQrEndDate" />
	</div>
	<label for="eventQrEndTime">Event end time:</label>
	<div>
		<input type="time" id="eventQrEndTime" />
	</div>
	<label for="eventQrIsWholeDay">Is whole day event:</label>
	<div>
		<input type="checkbox" id="eventQrIsWholeDay" />
	</div>
</div>
