<select id="linkQrProtocol">
	<option value="https" selected>https://</option>
	<option value="http">http://</option>
	<option value="custom">custom</option>
</select>
<input type="text" id="linkQrUrl" placeholder="enter the URL here" style="width: 30rem;" />
<p class="italic">
	In case you choose <strong><code>custom</code></strong> please include the protocol (e.g. <code>whatsapp://...</code>) in the link too.<br />
	If you choose <strong><code>https://</code></strong> (recommended) or <strong><code>http://</code></strong> (not recommended, use only when really needed)<br />
	this does not need to be included, so simply using something like <code>www.github.com</code> is enough.
</p>
